In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import sklearn
import scipy 

%matplotlib inline

In [2]:
junaeb = pd.read_csv('../data/junaeb.csv')
junaeb.dropna(inplace=True)

In [3]:
junaeb.reset_index(drop=True, inplace=True)
junaeb.head()

,vive_padre,vive_madre,n_personas,n_habitaciones,cercania_juegos,cercania_servicios,edad_primer_parto,area,educm,educp
0,0,1,3.0,4.0,1.0,1.0,25.0,1,0,0
1,0,1,5.0,3.0,1.0,1.0,23.0,1,13,13
2,1,1,5.0,3.0,1.0,1.0,19.0,1,12,17
3,1,1,4.0,2.0,1.0,1.0,27.0,1,6,13
4,1,1,5.0,3.0,2.0,1.0,20.0,1,13,16